[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
importlib-metadata = "==1.7.0"
setuptools = "*"
wheel = "*"
pip = "*"
numpy = "*"
spacy = "*"
flashgeotext = "*"
pyahocorasick = "*"
pycountry = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.7"
